@import '../utils/mixins.scss';

.home{
    padding:15px;
}

.home__form{
    margin:auto;
    display:flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    flex-wrap:wrap;
}

