@import '../utils/mixins.scss';

.home{
    padding:15px;
}

.home__form{
    margin:auto;
    display:flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    flex-wrap:wrap;
}

.home__input {
    border-radius: 15px;
}


.home__button {
    @include button; 
}

.home__button:hover {
    @include button-hover
}

.home__button:active {
    @include button-active
}